body{
    font-family: Roboto;
}
.letsgo{
    background-image: url(images/one.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 912px;
}
.logo{
    width: 65px;
    height: 33px;
}
.Launchpad{
    color: rgba(40, 219, 209, 1)
}
li{
    color: rgba(255, 255, 255, 0.5);
}
.bod{
    color: white;
}
.tesnet{
    border-radius: 120px;
    width: 50px;
    height: 50px;
}
.rocketF{
    position: absolute;
    top: 500px;
    right: 360px;
}.second{
    height: 620px;
    background-color: rgb(5, 19, 22);
}
.avata{
    width: 803px;
    height: 472px;
    border-radius: 30px;

}
.floata{
    position: absolute;
    top: 1055px;
    left: 920px;
    background-color: rgba(36, 37, 46, 1);
    width: 490px;
    height: 410px;
    border-radius: 20px;
    border-width: 2px;
}
.Lorem{
    color: rgba(255, 255, 255, 0.6);
}
.pricetag{
    display: flex;
    align-items: center;
    color: black;
    border-radius: 5px;
}
.third{
    background-image: url(images/third.png);
    
    
    height: 1092px;
}
.liveP{
    display: flex;
    justify-content: space-between;
}
.Live1{
    background-image: url(images/live1.jpeg);
    background-size: 410px 210px;
    background-repeat: no-repeat;
    background-color: rgb(9, 36, 36);
    border-radius: 5px;
    width: 400px;
    height: 550px;
}
.Live2{
    background-image: url(images/live2.jpeg);
    background-size: 410px 210px;
    background-repeat: no-repeat;
    background-color: rgb(9, 36, 36);
    border-radius: 5px;
    width: 400px;
    height: 550px;
}
.Live3{
    background-image: url(images/live3.jpeg);
    background-size: 410px 210px;
    background-repeat: no-repeat;
    background-color: rgb(9, 36, 36);
    border-radius: 5px;
    width: 400px;
    height: 550px;
}
.fourth{
    background-color: rgb(5, 19, 22);
    width: 100%;
    height: 1050px;
}
.foating{
    width: 1290px;
    height: 1040px;
    background-color: rgb(5, 19, 22);
    position: absolute;
    top: 2550px;
    left: 150px;
}
.completed{
    align-content: center;
    overflow: hidden;
    height: 187px;
    width: 100%;
    background-color: rgba(10, 31, 47, 1);
    border-radius: 5px;
    margin-bottom: 30px;
}
.inside{
    width: 100%;
    display: flex;
    align-items: center;;
    justify-content: center;
}
.insidepic{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 112px;
    border-radius: 5px;
    border: 2px solid rgba(40, 219, 209, 1);
}
.picimg{
    width: 146px;
    height: 108px;
    border-radius: 5px;
    border-width: 2px;
}
.insidewrite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 989px;
    height: 85px;
}
.Cyber{
    width: 226px;
    height: 85px;
}
.cyb{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 196px;
    height: 40px;
}
.prc{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.5);
    width: 226px;
    height: 40px;
}
.insideimg{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.day2{
    width: 99px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.rmm{
    width: 273px;
}
.raised{
    width: 123px;
    height: 26px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(193, 199, 203, 1);
}
.tnet{
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.fiveK{
    color: rgba(40, 219, 209, 1)
}
.buttn{
    position: absolute;
    top: 3650px;
    left: 720px;
}
.fifth{
    background-image: url();
    background-color: rgb(13, 48, 56);
    width: 100%;
    height: 655px;
}
.textholder{
    background-color: rgb(13, 48, 56);
    height: 200px;
}
.boxholder{
    display: flex;
    justify-content: center;
}
.boxes{
    border: 2px solid blue;
    width: 280px;
    height: 336px;
    color: white;
}
.sixth{
    width: 100%;
    height: 800px;
    background-color: rgb(5, 19, 22);
}
.firstext{
    height: 250px;
}
.videop{
    width: 100%;
}
.playimage{
    width: 837px;
    height: 441px;
}
.seventh{
    background-color: rgb(5, 19, 22);
    height:600px;
    width: 100%;
}
.softe{
    display: flex;
    height: 509px;
    background-color: rgba(15, 25, 51, 1);
    border-radius: 20px;
}
.ritup{
    height: 500px;
    align-content: center;
    padding-left: 100px;
}
.tired{
    align-content: center;
}
.handimg{
    position: absolute;
    margin-left: 70px;
    margin-top: 5px;
}
.handim{
    background-color: rgba(255, 255, 255, 1);
    opacity: 10%;
    border-radius: 100%;
    height: 350px;
    width: 350px;
}
.eight{
    background-color: rgb(5, 19, 22);
    width: 100%;
    height: 900px;
}
.ourprojects{
    display: flex;
    width: 100%;
    height: 510px;
    background-color: rgb(13, 48, 56);
    padding-top: 75px;
}
.create{
    background-color: red;
    height: 354px;
}
.others{
    background-color: pink;
    height: 354px;
}
.socials{
    background-color: rgb(5, 19, 22);
    height: 360px;
    width: 100%;
}
.didid{
    height: 285px;
    align-content: center;
}
.socialsH{
    display: flex;
    justify-content: center;
    height: 50px;
}
.icons{
    width: 45px;
    height: 45px;
    border: 1px solid rgba(40, 219, 209, 0.4);
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    padding-left: 12px;
}
.bi-twitter{
    font-size: 20px;
}
.bi-discord{
    font-size: 20px;
}
.bi-twitch{
    font-size: 20px;
}
.bi-instagram{
    font-size: 20px;
}
.bi-linkedin{
    font-size: 20px;
}
.bi-facebook{
    font-size: 20px;
}

.Tenpad{
    height: 75px;
    text-align: center;
    align-content: center;
}  
