body{
    font-family: Roboto;
}
.letsgo{
    background-image: url(images/one.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 912px;
}
.logo{
    width: 65px;
    height: 33px;
}
.Launchpad{
    color: rgba(40, 219, 209, 1)
}
li{
    color: rgba(255, 255, 255, 0.5);
}
.bod{
    color: white;
}
.tesnet{
    border-radius: 120px;
    width: 50px;
    height: 50px;
}
.rocketF{
    position: absolute;
    top: 500px;
    right: 360px;
}.second{
    height: 620px;
    background-color: rgb(5, 19, 22);
}
.avata{
    width: 803px;
    height: 472px;
    border-radius: 30px;

}
.floata{
    position: absolute;
    top: 1055px;
    left: 920px;
    background-color: rgba(36, 37, 46, 1);
    width: 490px;
    height: 410px;
    border-radius: 20px;
    border-width: 2px;
}
.Lorem{
    color: rgba(255, 255, 255, 0.6);
}
.pricetag{
    display: flex;
    align-items: center;
    color: black;
    border-radius: 5px;
}
.third{
    background-image: url(images/third.png);
    
    
    height: 1092px;
}
.liveP{
    display: flex;
    justify-content: space-between;
}
.Live1{
    background-size: 410px 210px;
    background-repeat: no-repeat;
    background-color: rgba(10, 31, 47, 1);
    border-radius: 5px;
    width: 400px;
    height: 550px;
    overflow: hidden;
}
.imgholder{
    overflow: hidden;
    height: 213px;
    width: 100%;
    border-bottom: 2px solid rgba(40, 219, 209, 0.3);
}
.heldimg{
    height: 250px;
    width: 400px;
}
.flimg{
    position: static;
    border-radius: 50%;
    border: 2px solid rgba(40, 219, 209, 1);
    width: 42px;
    height: 42px;
    border-width: 2px;
    margin-top: -429px;
    margin-left: 330px;
}
.defi{
    display: flex;
    align-items: center;
    height: 85px;
    overflow: hidden;
    position: static;
    margin-left: 25px;
    margin-top: -40px;
}
.defimg1holder{
    overflow: hidden;
    border-radius: 5px;
    height: 80px;
    width: 80px;
    border: 2px solid rgba(40, 219, 209, 0.3);
}
.defimg1{
    position: static;
    margin-top: -5px;
    margin-left: -27px;
    height: 100px;
    width: 130px;
}
.defitext{
    align-content: center;
    background-color: rgba(10, 31, 47, 1);
    width: 270px;
    height: 40px;
    padding-left: 15px;
    border-right: 2px solid rgba(40, 219, 209, 0.3);
    border-bottom: 2px solid rgba(40, 219, 209, 0.3);
}
.defimg2{
    height: 130px;
    width: 80px;
}
.defimg3{
    height: 120px;
    width: 80px;
}
.round{
    width: 100%;
    margin-top: 20px;
    line-height: 10px;
}
.roundname{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.roundraised{
    margin-top: 30px;
    line-height: 10px;
}
.Live2{
    background-size: 410px 210px;
    background-repeat: no-repeat;
    background-color: rgba(10, 31, 47, 1);
    border-radius: 5px;
    width: 400px;
    height: 550px;
    overflow: hidden;
}
.Live3{
    background-size: 410px 210px;
    background-repeat: no-repeat;
    background-color: rgba(10, 31, 47, 1);
    border-radius: 5px;
    width: 400px;
    height: 550px;
    overflow: hidden;
}
.paginates{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.pagin{
    height: 16px;
    width: 16px;
    background-color: rgba(40, 219, 209, 1);
    border-radius: 2px;
    transform: skew(-10deg);
}
.comproj{
    font-family: Roboto;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
.fourth{
    background-color: rgb(5, 19, 22);
    width: 100%;
    height: 1050px;
}
.foating{
    width: 1290px;
    height: 1040px;
    background-color: rgb(5, 19, 22);
    position: absolute;
    top: 2550px;
    left: 150px;
}
.completed{
    align-content: center;
    overflow: hidden;
    height: 187px;
    width: 100%;
    background-color: rgba(10, 31, 47, 1);
    border-radius: 5px;
    margin-bottom: 30px;
}
.inside{
    width: 100%;
    display: flex;
    align-items: center;;
    justify-content: center;
}
.insidepic{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 112px;
    border-radius: 5px;
    border: 2px solid rgba(40, 219, 209, 1);
}
.picimg{
    width: 146px;
    height: 108px;
    border-radius: 5px;
    border-width: 2px;
}
.insidewrite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 989px;
    height: 85px;
}
.Cyber{
    width: 226px;
    height: 85px;
}
.cyb{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 196px;
    height: 40px;
}
.prc{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.5);
    width: 226px;
    height: 40px;
}
.insideimg{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.day2{
    width: 99px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.rmm{
    width: 273px;
}
.raised{
    width: 123px;
    height: 26px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(193, 199, 203, 1);
}
.tnet{
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.fiveK{
    color: rgba(40, 219, 209, 1)
}
.buttn{
    display: flex;
    justify-content: center;
}
.fifth{
    background-image: url();
    background-color: rgb(13, 48, 56);
    width: 100%;
    height: 655px;
}
.textholder{
    background-color: rgb(13, 48, 56);
    height: 170px;
}
.boxholder{
    display: flex;
    justify-content: center;

}
.boxes{
    justify-items: center;
    width: 350px;
    height: 336px;
    color: white;
}
.sixth{
    width: 100%;
    height: 800px;
    background-color: rgb(5, 19, 22);
}
.firstext{
    height: 250px;
}
.videop{
    width: 100%;
}
.playbut{
    position: static;
    margin-left: 600px;
    margin-top: -485px;
}
.playimage{
    width: 837px;
    height: 441px;
}
.seventh{
    background-color: rgb(5, 19, 22);
    height:630px;
    width: 100%;
}
.softe{
    display: flex;
    height: 509px;
    background-color: rgba(15, 25, 51, 1);
    border-radius: 20px;
    width: 1400px;
    margin: auto;
}
.ritup{
    height: 500px;
    align-content: center;
    padding-left: 100px;
}
.tired{
    align-content: center;
}
.handimg{
    position: absolute;
    margin-left: 70px;
    margin-top: 5px;
}
.handim{
    background-color: rgba(255, 255, 255, 1);
    opacity: 10%;
    border-radius: 100%;
    height: 350px;
    width: 350px;
}
.eight{
    background-color: rgb(5, 19, 22);
    width: 100%;
    height: 900px;
}
.ourprojects{
    background-image: url(images/eight.png);
    background-repeat: no-repeat;
    background-size: 100% 510px;
    width: 100%;
    height: 510px;
    padding-top: 75px;
}
.ourprojectsholder{
    display: flex;
    margin-left: 120px;
    margin-right: 15px;
    overflow: hidden;
}
.create{
    align-content: center;
    height: 354px;
    font-family: roboto;
}
.ourrit{
    font-size: 15px;
}
.createrit{
    font-size: 57px;
}
.gamified{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: rgba(221, 214, 237, 1);
}
.others{
    display: flex;
    justify-content: space-between;
    height: 354px;
}
.nfts{
    width: 252px;
    height: 324px;
    border-radius: 35px;
    overflow: hidden;
}
.stands{
    width: 600px;
    height: 325px;
    margin-left: -180px;
}
.shadow{
    position: absolute;
    background-image: linear-gradient(to right, rgba(40, 219, 209, 1), rgba(29, 161, 243, 1), rgba(40, 144, 219, 1));
    height: 76px;
    width: 252px;
    text-align: center;
    color: white;
    margin-top: -76px;
    border-radius: 0px 0px 35px 35px;
    opacity: 80%;
    align-content: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}
.socials{
    background-color: rgb(5, 19, 22);
    height: 360px;
    width: 100%;
}
.didid{
    height: 285px;
    align-content: center;
}
.socialsH{
    display: flex;
    justify-content: center;
    height: 50px;
}
.icons{
    width: 45px;
    height: 45px;
    border: 1px solid rgba(40, 219, 209, 0.4);
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    padding-left: 12px;
}
.bi-twitter{
    font-size: 20px;
}
.bi-discord{
    font-size: 20px;
}
.bi-twitch{
    font-size: 20px;
}
.bi-instagram{
    font-size: 20px;
}
.bi-linkedin{
    font-size: 20px;
}
.bi-facebook{
    font-size: 20px;
}
.Tenpad{
    height: 75px;
    text-align: center;
    align-content: center;
}  
